*, ::before, ::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
    background-color: #f0f0f0; /* Set background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide overflow to prevent scrolling */
}

h1{
    font-size: 48px;
    color: #00aa00; /* Set text color */
    animation: scaleIn 1s ease-out; /* Apply animation */
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
